html, body {
	font-family: helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.4;
}

@keyframes color_change {
	0% { fill: #261416; }
	25% { fill: #66262F; }
	50% { fill: #FF2F4D; }
	75% { fill: #63273F; }
	100% { fill: #26161E; }
}

.delete-container {
	width: 90%;
	max-width: 600px;
	margin: 1em auto;
	overflow: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	svg {
		fill: #000;
		&:hover {
			animation-name: color_change;
			animation-duration: 0.5s;
			animation-iteration-count: infinite;
			// animation-direction: alternate;
		}
	}
}